@media (min-width: 1024px) and (max-width: 1366px) {
  body {
    background-color: pink;
  }
  main table {
    width: 100%;
  }
  main table tr td div {
    margin: 15px 0px;
    font-size: 1.8em;
  }
  main table tr td a:hover {
    text-decoration: none;
  }
  main table tr td .pages:hover {
    padding: 15px 0px;
    background-color: rgb(134, 134, 134, 0.3);
    transition: ease-out 0.5s;
    font-size: 2em;
    box-shadow: 5px 8px 10px 0 #303030;
  }
  main table tr td div img {
    margin: 1.5em 0;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    box-shadow: 5px 8px 10px 0 #303030;
  }
}
