@media (min-width: 1025px) and (max-width: 1366px) {
  main table {
    width: 100%;
  }

  main table tr td div a {
    width: 100% !important;
    margin: 15px 0px;
    font-size: 1.8em;
    display: block;
  }
  main table tr td a:hover {
    text-decoration: none;
    padding: 0px 0px;
    background-color: rgb(134, 134, 134, 0.3);
    transition: ease-out 0.5s;
    font-size: 1.9em;
    box-shadow: 0px 5px 15px 0 #303030;
  }
  main table tr td div img {
    margin: 1.5em 0;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    box-shadow: 5px 8px 10px 0 #303030;
  }
}
