/*
This is my phone's resolution
*/
@media (min-width:600px) and (max-width: 800px), (min-device-width:600px) and (max-device-width: 800px) {
    body{
        background: red!important;
    }
}

@media (min-width:800px) and (max-width: 900px), (min-device-width:800px) and (max-device-width: 900px) {
    body{
        background: yellow;
    }
}

@media (min-width:900px) and (max-width: 1024px), (min-device-width:900px) and (max-device-width: 1024px) {
    body{
        background: grey;
    }
}