/*
This is my phone's resolution
*/
@media (min-width: 600px) and (max-width: 800px) {
}

@media (min-width: 800px) and (max-width: 900px) {
}

@media (min-width: 900px) and (max-width: 1024px) {
  main table {
    width: 100%;
    height: 100%;
  }
  main table tr td div {
    margin: 15px 0px;
    font-size: large;
  }
  main table tr td a:hover {
    text-decoration: none;
  }
  main table tr td .pages:hover {
    padding: 15px 0px;
    background-color: rgb(134, 134, 134, 0.3);
    transition: ease-out 0.5s;
    font-size: x-large;
  }
  main table tr td div img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    box-shadow: 5px 8px 10px 0 #303030;
  }
}
