/*
This is my phone's resolution
*/
@media (min-width:600px) and (max-width: 800px){
    body{
        background: red!important;
    }
}

@media (min-width:800px) and (max-width: 900px){
    body{
        background: grey;
    }
}

@media (min-width:900px) and (max-width: 1024px){
    body{
        background: yellow;
    }
}