/*
This is my phone's resolution
*/
@media (min-width: 600px) and (max-width: 800px) and (min-device-width: 600px) and (max-device-width: 800px) {
  @keyframes hoverimg {
    from {
      box-shadow: 0px 0px 10px 6px #303030;
    }

    to {
      box-shadow: 0px 0px 10px 3px #303030;
    }
  }

  main,
  main table {
    width: 100%;
    height: 100%;
  }

  main table tr td div a {
    padding: 2px 0px;
    width: 100% !important;
    margin: 15px 0px;
    display: block;
  }
  main table tr td a:hover {
    text-decoration: none;
    padding: 1px 0px;
    background-color: rgb(134, 134, 134, 0.3);
    transition: ease-out 0.3s;
    box-shadow: 0px 5px 15px 0 #303030;
  }
  main table tr td div img {
    margin: 0 0;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    box-shadow: 5px 8px 10px 0 #303030;
  }
  main table tr td div img:hover {
    animation-duration: 1s;
    animation-name: hoverimg;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}

@media (min-width: 801px) and (max-width: 900px) {
  main table {
    width: 100%;
  }
  main table tr td div {
    margin: 15px 0px;
    font-size: 4em;
  }
  main table tr td a:hover {
    text-decoration: none;
  }
  main table tr td .pages:hover {
    padding: 15px 0px;
    background-color: rgb(134, 134, 134, 0.3);
    transition: ease-out 0.5s;
    font-size: 6em;
    box-shadow: 5px 8px 10px 0 #303030;
  }
  main table tr td div img {
    margin: 1.5em 0;
    width: 500px;
    height: 500px;
    border-radius: 15px;
    box-shadow: 5px 8px 10px 0 #303030;
  }
}

@media (min-width: 901px) and (max-width: 1024px) {
  main table {
    width: 100%;
  }
  main table tr td div {
    margin: 15px 0px;
    font-size: 4em;
  }
  main table tr td a:hover {
    text-decoration: none;
  }
  main table tr td .pages:hover {
    padding: 15px 0px;
    background-color: rgb(134, 134, 134, 0.3);
    transition: ease-out 0.5s;
    font-size: 6em;
    box-shadow: 5px 8px 10px 0 #303030;
  }
  main table tr td div img {
    margin: 1.5em 0;
    width: 500px;
    height: 500px;
    border-radius: 15px;
    box-shadow: 5px 8px 10px 0 #303030;
  }
}
