@import "./displays/small.css";
@import "./displays/medium.css";
@import "./displays/large.css";
@import "./displays/xlarge.css";
@import "./displays/xxlarge.css";
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background: url("../bg.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: "Lobster Two", cursive;
}

body::after {
  content: "";
  background: black;
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.float {
  background-color: rgb(134, 134, 134, 0.05);
  position: fixed;
  width: 50px;
  height: 50px;
  top: 40px;
  left: 0px;
  border-radius: 0px 10px 10px 0px;
  text-align: center;
  box-shadow: 2px 2px 3px #2f2f2f;
}
.float:hover {
  transition: ease-out 0.3s;
  box-shadow: 2px 1px 3px #6d6c6c;
}
.float img {
  margin: 5px 5px;
  width: 40px;
  height: 40px;
}
