@import "./displays/small.css";
@import "./displays/medium.css";
@import "./displays/large.css";
@import "./displays/xlarge.css";
@import "./displays/xxlarge.css";

html {
  width: 100%;
  height: 100%;
}
body {
  height: 100%;
  background-color: red;
  background-size: cover;
  font-family: "Brush Script MT", cursive;
}

body::after {
  content: "";
  background: black;
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
